* {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
.wrap {
  width: 100%;
}
.album {
  width: 100%;
}
.album li {
  position: relative;
  width: 10%;
  height: 0;
  padding-top: 10%;
  float: left;
}
.album li a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  text-align: center;
  top: 0;
  overflow: hidden;
  font-size: 25px;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  border: 4px solid white;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  line-height: 150%;
}

.album li:nth-child(24n + 4),
.album li:nth-child(24n + 8) {
  width: 19.9%;
  padding-top: 19.9%;
}
.album li:nth-child(24n + 9),
.album li:nth-child(24n + 11),
.album li:nth-child(24n + 13),
.album li:nth-child(24n + 17),
.album li:nth-child(24n + 19),
.album li:nth-child(24n + 21) {
  margin-top: -10%;
}

@media (max-width: 767px) {
  .album li {
    width: 25%;
    padding-top: 25%;
    float: left;
  }
  .album li:nth-child(12n + 5) {
    width: 75%;
    padding-top: 75%;
  }
  .album li:nth-child(12n + 9) {
    width: 75%;
    padding-top: 75%;
    float: right;
  }
  /*  */
  .album li:nth-child(24n + 4),
  .album li:nth-child(24n + 8) {
    width: 25%;
    padding-top: 25%;
  }
  .album li:nth-child(24n + 9),
  .album li:nth-child(24n + 11),
  .album li:nth-child(24n + 13),
  .album li:nth-child(24n + 17),
  .album li:nth-child(24n + 19),
  .album li:nth-child(24n + 21) {
    margin-top: 0%;
  }
}

.album li:nth-child(even) {
  background-color: green;
}
.album li:nth-child(odd) {
  background-color: red;
}
/* .album li:nth-child(1) a {
  background-image: url(./pic/01.jpg);
}
.album li:nth-child(2) a {
  background-image: url(./pic/02.jpg);
}
.album li:nth-child(3) a {
  background-image: url(./pic/03.jpg);
}
.album li:nth-child(4) a {
  background-image: url(./pic/04.jpg);
} */
.album li:nth-child(5) a {
  background-image: url(./pic/05.jpg);
}
.album li:nth-child(6) a {
  background-image: url(./pic/06.jpg);
}
.album li:nth-child(7) a {
  background-image: url(./pic/07.jpg);
}
.album li:nth-child(8) a {
  background-image: url(./pic/08.jpg);
}
.album li:nth-child(9) a {
  background-image: url(./pic/09.jpg);
}
.album li:nth-child(10) a {
  background-image: url(./pic/10.jpg);
}
.album li:nth-child(11) a {
  background-image: url(./pic/11.jpg);
}
.album li:nth-child(12) a {
  background-image: url(./pic/12.jpg);
}
/*.album li:nth-child(13) a {
  background-image: url(./pic/13.jpg);
}
.album li:nth-child(14) a {
  background-image: url(./pic/14.jpg);
}
.album li:nth-child(15) a {
  background-image: url(./pic/15.jpg);
}
.album li:nth-child(16) a {
  background-image: url(./pic/16.jpg);
}*/
.album li:nth-child(17) a {
  background-image: url(./pic/17.jpg);
}
.album li:nth-child(18) a {
  background-image: url(./pic/18.jpg);
}
.album li:nth-child(19) a {
  background-image: url(./pic/19.jpg);
}
.album li:nth-child(20) a {
  background-image: url(./pic/20.jpg);
}
.album li:nth-child(21) a {
  background-image: url(./pic/21.jpg);
}
/* 
.album li:nth-child(22) a {
  background-image: url(./pic/22.jpg);
}
.album li:nth-child(23) a {
  background-image: url(./pic/23.jpg);
}
.album li:nth-child(24) a {
  background-image: url(./pic/24.jpg);
}
.album li:nth-child(25) a {
  background-image: url(./pic/25.jpg);
}
.album li:nth-child(26) a {
    background-image: url(./pic/26.jpg);
  }
  .album li:nth-child(27) a {
    background-image: url(./pic/27.jpg);
  }
  .album li:nth-child(28) a {
    background-image: url(./pic/28.jpg);
  }
  .album li:nth-child(29) a {
    background-image: url(./pic/29.jpg);
  } */


  .card{
    width: 98%;
    margin: 0 auto;
    background: -webkit-linear-gradient(-24deg, rgb(50, 129, 0), rgb(239, 40, 3));
    background: linear-gradient(-24deg, rgb(50, 129, 0), rgb(239, 40, 3));
    padding: 10px 10px;
    margin-top: 5px;
    box-sizing: border-box;
    color:whitesmoke;
  }
  .card h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
  }
  .card p{
    font-size: 20px;
    line-height:35px;

  }
  .fr{
    text-align: right;
  }